main {}
/* 컨텐츠 공통선택자 */
main .main_contents {
    width: 1500px; margin: 0 auto;
    position: relative;
}
main .main_contents h2 {
    font-size: 1.56rem; font-weight: 700; line-height: 1.2; letter-spacing: -0.02rem;
}

main .main_contents .swiper {
    margin: 30px 0;
}
main .main_contents .swiper .swiper-wrapper {}
main .main_contents .swiper .swiper-wrapper .swiper-slide {}
main .main_contents .swiper .swiper-wrapper .swiper-slide > a {}
main .main_contents .swiper .swiper-wrapper .swiper-slide > a > img {}
main .main_contents .swiper .swiper-wrapper .swiper-slide > .item_text {margin-top: 10px;}
main .main_contents .swiper .swiper-wrapper .swiper-slide > .item_text h3 {
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}
main .main_contents .swiper .swiper-wrapper .swiper-slide > .item_text .i_txt {
    margin: 10px 0;
    font-size: 0.88rem; letter-spacing: -0.02rem;
}
main .main_contents .swiper .swiper-wrapper .swiper-slide > .item_text .price {
    font-size: 1.06rem; font-weight: 500; letter-spacing: -0.02rem;
}
main .main_contents .swiper .swiper-wrapper .swiper-slide > .item_text .price del {
    margin: 0 10px;
    font-size: 0.81rem; letter-spacing: -0.02rem; color: #AAAAAA;
}
main .main_contents .swiper .swiper-wrapper .swiper-slide > .item_text .price .sale {
    font-size: 1.13rem; font-weight: 600; letter-spacing: -0.02rem;
}
/* 진행바 */
main .main_contents .progress {}
main .main_contents .progress .swiper-scrollbar {
    width: 1500px; height: 2px;
}
/* 더보기 버튼 */
main .main_contents .viewmore {
    border: 1px solid #E4E4E4; border-radius: 20px;
    padding: 15px 20px;
    font-size: 0.88rem; letter-spacing: -0.02rem;
    position: relative; top: 55px; left: 45%;
    transition: background-color 0.3s;
}
main .main_contents .viewmore:hover{
    background-color: #FFD400; font-weight: 600;
}

/* 신상 업데이트 개별 */
main .new_wrap {margin-bottom: 150px;}
main .new_wrap .new {}
main .new_wrap .new h2 {}
main .new_wrap .new .swiper-wrapper {}
main .new_wrap .new .swiper-wrapper .new_i {}
main .new_wrap .new .swiper-wrapper .new_i > a {}
main .new_wrap .new .swiper-wrapper .new_i > a > img {}
main .new_wrap .new .swiper-wrapper .new_i > .item_text {}
main .new_wrap .new .swiper-wrapper .new_i > .item_text h3 {}
main .new_wrap .new .swiper-wrapper .new_i > .item_text .i_txt {}
main .new_wrap .new .swiper-wrapper .new_i > .item_text .price {}

/* 베스트픽 개별 */
main .best_wrap {margin-bottom: 150px;}
main .best_wrap .title {}
main .best_wrap .title > h2 {}
main .best_wrap .title .item_tab {}
main .best_wrap .title .item_tab > a {}
main .best_wrap .title .item_tab > .active {}
main .best_wrap .best {}
main .best_wrap .best .swiper-wrapper {}
main .best_wrap .best .swiper-wrapper .new_i {}
main .best_wrap .best .swiper-wrapper .new_i > a {}
main .best_wrap .best .swiper-wrapper .new_i > a > img {}
main .best_wrap .best .swiper-wrapper .new_i > .item_text {}
main .best_wrap .best .swiper-wrapper .new_i > .item_text h3 {}
main .best_wrap .best .swiper-wrapper .new_i > .item_text .i_txt {}
main .best_wrap .best .swiper-wrapper .new_i > .item_text .price {}

/* 리뷰 개별 */
main .review_wrap {margin-bottom: 150px;}
main .review_wrap .title {}
main .review_wrap .title > h2 {}
main .review_wrap .title > p {}
main .review_wrap .review {}
main .review_wrap .review .swiper-wrapper {}
main .review_wrap .review .swiper-wrapper .review_i {}
main .review_wrap .review .swiper-wrapper .review_i > a {}
main .review_wrap .review .swiper-wrapper .review_i > a > img {}
main .review_wrap .review .swiper-wrapper .review_i .review_txt {
    border: 1px solid #E4E4E4; border-radius: 20px; padding: 20px;
}   
main .review_wrap .review .swiper-wrapper .review_i .review_txt .stars {
    padding-bottom: 13px;
}
main .review_wrap .review .swiper-wrapper .review_i .review_txt .stars > img {}
main .review_wrap .review .swiper-wrapper .review_i .review_txt > .i_txt {
    font-size: 0.94rem; line-height: 1.2; letter-spacing: -0.02rem;
}
main .review_wrap .review .swiper-wrapper .review_i .review_txt .review_item {
    padding-top: 20px;
}
main .review_wrap .review .swiper-wrapper .review_i .review_txt .review_item > .i_name {
    font-size: 0.81rem; font-weight: 600; letter-spacing: -0.02rem;
    padding-bottom: 10px;
}
main .review_wrap .review .swiper-wrapper .review_i .review_txt .review_item > .i_num {
    font-size: 0.88rem; letter-spacing: -0.02rem;
}
main .review_wrap .progress {
    position: absolute;
    bottom: -40px;
}

/* 유튜브라인 */
main .youtude {margin-bottom: 150px;}
main .youtude .youtube_bnr {
    background-image: url(../images/bnr_002.jpg);
    height: 200px;
}
main .youtude .youtube_bnr > .bnr_content {
    position: absolute; left: 418px; top: 58px;
}
main .youtude .youtube_bnr > .bnr_content .bnr_txt,
main .youtude .youtube_bnr h4 {color: #D3233A;}

main .youtude .youtube_bnr > .bnr_content .bnr_txt {
    font-size: 1.31rem; letter-spacing: -0.02rem;
    padding-bottom: 20px;
}
main .youtude .youtube_bnr h4 {
    font-size: 2.19rem; font-weight: 600; line-height: 1.2; letter-spacing: -0.02rem;
}
main .youtude .youtube_channel {
    padding: 30px 0;
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .youtude .youtube_channel > a {
    padding-right: 20px;
}
main .youtude .youtube_channel > a > img {}
main .youtude .youtube_channel .account {}
main .youtude .youtube_channel .account > h4 {
    font-size: 1.56rem; font-weight: 700; line-height: 1.2; letter-spacing: -0.02rem;
}
main .youtude .youtube_channel .account > .ottogi {
    color: #AAAAAA;
    font-size: 1.31rem; letter-spacing: -0.02rem;
}
main .youtude > ul {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .youtude > ul > li {
    width: calc((100% - (15px * 2)) / 3);
}
main .youtude > ul > li iframe {
    border-radius: 20px; margin-bottom: 30px;
}
main .youtude > ul > li .video_title {
    font-size: 1.31rem; font-weight: 600; line-height: 1.2; letter-spacing: -0.02rem;}

/*오직오뚜기 개별 */
main .only_wrap {margin-bottom: 150px;}
main .only_wrap .title {}
main .only_wrap .title > h2 {}
main .only_wrap .title .item_tab {}
main .only_wrap .title .item_tab > a {}
main .only_wrap .title .item_tab > .active {}
main .only_wrap .only {}
main .only_wrap .only .swiper-wrapper {}
main .only_wrap .only .swiper-wrapper .only_i {}
main .only_wrap .only .swiper-wrapper .only_i > a {}
main .only_wrap .only .swiper-wrapper .only_i > a > img {}
main .only_wrap .only .swiper-wrapper .only_i > .item_text {}
main .only_wrap .only .swiper-wrapper .only_i > .item_text h3 {}
main .only_wrap .only .swiper-wrapper .only_i > .item_text .i_txt {}
main .only_wrap .only .swiper-wrapper .only_i > .item_text .price {}
main .only_wrap .only .swiper-wrapper .only_i > .item_text .price del {}
main .only_wrap .only .swiper-wrapper .only_i > .item_text .price .sale {}

/*오뚜기 인스타그램 개별 */
main .insta {margin-bottom: 150px;}
main .insta .insta_contents {}
main .insta .insta_contents ul {
    display: flex; flex-flow: row wrap; justify-content: space-between;
}
main .insta .insta_contents ul li {
    width: calc((100% - (13px * 3)) / 4);
    padding-bottom: 13px;
}
main .insta .insta_contents ul li:first-child {
    padding: 15px;
}
main .insta .insta_contents ul li > h2 {}
main .insta .insta_contents ul li > .ottogi {
    color: #AAAAAA;
    font-size: 1.31rem; letter-spacing: -0.02rem;
}
main .insta .insta_contents ul li > img {}

/* 배너 공통선택자 */
main .main_contents .bnr_contents {
    position: absolute; left: 210px; top: 54px;
}
main .main_contents .bnr_contents h4 {
    font-size: 2.19rem; font-weight: 600; line-height: 1.2; letter-spacing: -0.02rem;
    padding-bottom: 10px;
}
main .main_contents .bnr_contents .bnr_txt {
    font-size: 1.31rem; letter-spacing: -0.02rem;
}

main .bnr1,
main .bnr2,
main .bnr3 {
    width: 100%; height: 170px;
}

/* 이벤트배너 1 */
main .bnr1 {
    background-image: url(../images/bnr_001.jpg);
    margin-bottom: 150px;
    color: #FFF;
}
main .bnr1 > h4 {}
main .bnr1 > .bnr_txt {}

/* 이벤트배너 2 */
main .bnr2 {
    background-image: url(../images/bnr_003.jpg);
    margin-bottom: 150px;
}
main .bnr2 > h4 {}
main .bnr2 > .bnr_txt {}

/* 이벤트배너 3 */
main .bnr3 {
    background-image: url(../images/bnr_004.jpg);
    margin-bottom: 150px;
}
main .bnr3 > h4 {}
main .bnr3 > .bnr_txt {}